@import url("https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap");
* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: aliceblue;
}
section {
  padding: 3rem 0 2rem;
}
.container {
  max-width: 100%;
  margin: auto;
  width: 100%;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
}
header.shadow {
  background: #000;
  box-shadow: 0 1px 4px hsl(0 4% 14% / 10%);
  transition: 0.5s;
}

.nav {
  background-color: rgb(67, 101, 132);
  z-index: 200;
  margin: 0;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(254, 255, 255);
}

.logo span {
  color: #49aead;
}
.sign {
  padding: 8px 14px;
  font-weight: 500;
  border-radius: 4px;
  background: #49aead;
  color: white;
}
.sign:hover {
  color: black;
  transition: 0.5s;
}
.home {
  width: 100%;
  min-height: 440px;
  padding: 20px;
  background: url(blog1.jpeg);
  background-size: cover;
  display: grid;
  align-items: center;
  justify-content: center;
}
/* .home-text{
    display: grid;
    justify-content: center;
    align-items: center;
} */
.home-text {
  color: rgb(95, 95, 95);
  text-align: center;
}
.home-title {
  font-size: 3.5rem;
}
.home-subtitle {
  font-size: 2rem;
  font-weight: 400;
}
.about {
  position: relative;
  width: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.about .contentBx {
  max-width: 50%;
  width: 50%;
  text-align: left;
  padding-right: 40px;
}
.titleText {
  font-weight: 500;
  color: #111;
  font-size: 2rem;
  margin-bottom: 10px;
  padding: 15px;
}
.Title-text {
  color: #111;
  font-size: 1rem;
  padding: 0 15px;
}
.about .ImgBx {
  position: relative;
  min-width: 50%;
  width: 50%;
  min-height: 550px;
  /* border-image-width: 2px solid #000; */
}
.Btn2 {
  position: relative;
  display: inline-block;
  margin: 10px;
  padding: 10px 5px;
  background: #fff;
  border: 0.8px solid #111;
  color: #333;
  border-radius: 4px;
  text-decoration: none;
  transition: 0.5s all;
}
.Btn2:hover {
  background-color: rgb(67, 101, 132);
  border: none;
  color: #fff;
  left: -1px;
}
.post-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5rem;
  margin: 2rem !important;
}
.filter-item {
  font-size: 1.3rem;
  font-weight: 500;
  padding-bottom: 20px;
  cursor: pointer;
}
.active-filter {
  background: rgb(67, 101, 132);
  color: #fff;
  padding: 4px 10px;
  border-radius: 4px;
}
.post {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  justify-content: center;
  gap: 1.5rem;
}
.post-box {
  background: rgb(67, 101, 132);
  box-shadow: 0 4px 14px hsl(35deg, 25%, 15%/10%);
  padding: 15px;
  border-radius: 0.5rem;
}
.post-img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  object-position: center;
  border-radius: 0.5rem;
}
. .category {
  font-size: 0.9rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #4be3e0;
}
.post-title {
  font-size: 1.3rem;
  font-weight: 600;
  color: #172317;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.post-date {
  display: flex;
  font-size: 0.876rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 4px;
}
.post-description {
  font-size: 0.9rem;
  line-height: 1.5rem;
  margin: 5px 0 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}
.profile-name {
  font-size: 0.8rem;
  font-weight: 600;
}
footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  margin-top: 3rem;
  background: #111;
  display: flex;
  justify-content: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.footer-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.footer-container .sec {
  margin-right: 30px;
}
.footer-container .sec .aboutus {
  width: 40%;
}
.footer-container h2 {
  position: relative;
  color: #fff;
  margin-bottom: 15px;
}
.footer-container h2::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50%;
  height: 2px;
  background: rgb(67, 101, 132);
}
footer p {
  color: #fff;
}
.sci{
  display: flex;
  margin: 20px;
}
.sci li{
  list-style-type: none;
}
.sci li a{
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px;
  transition: .5s;
}
.sci li a:hover{
  background: rgb(67, 101, 132);
}
.sci i a .bx{
  color: #fff;
  font-size: 20px;
}
.quicklinks{
  position: relative;
  width: 25%;
}
.quicklinks ul li{
  list-style: none;
}
.quicklinks ul li a{
  color: #999;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
  transition: 0.3s;
}
.quicklinks ul li a:hover{
  color: #fff;
}
.footer-container .contactBx{
  width: calc(35% - 60px);
    margin-right: 0 !important;
}
.contactBx .info{
  position: relative;
}
.contactBx .info li{
  display: flex !important;
  margin-bottom: 16px;
}
.contactBx .info li span:nth-child(1){
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}
.contactBx .info li span{
  color: #999;
}
.contactBx .info li a{
  color: #999;
  text-decoration: none;
  transition: .5s;
}
.contactBx .info li a:hover{
  color: #fff;
}
@media (max-width:1060px) {
  .container{
    margin: 0 auto;
    width: 95%;
  }
  .home-text{
    width: 100%;
  }
}
@media(max-width:768px){
  .nav{
    padding: 10px 0;
  }
  section{
    padding: 2rem 0 !important;
  }
  .header-content{
    margin-top: 3rem !important;
  }
  .home{
    min-height: 380;
  }
  .home-title{
    font-size: 3rem;
  }
  .header-title{
    font-size: 2rem;
  }
  .header-img{
    height: 370px;
  }
  .about{
    flex-direction: column;
  }
  .about .contentBx{
    min-width: 100%;
    width: 100%;
    text-align: center;
    padding-right: 0;
  }.about .contentBx, .about .ImgBx{
    min-width: 100%;
    width: 100%;
    padding-right: 0;
    text-align: center;
  }
  .about .ImgBx{
    min-height: 250px;

  }
  .Btn2{
    margin-bottom: 30px;
  }
  .post-header{
    height: 435px;
    margin-top: 9rem !important;
  }

}
@media(max-width:570px){
  .post-header{
    height: 390px;
  }
  .header-title{
    width: 100%;
  }
  .header-img{
    height: 340px;
  }
}
@media(max-width:396px){
  .home-title{
    font-size: 2rem;
  }
  .home-subtitle{
    font-size: 0.9rem;
  }
  .home{
    min-height: 300px;
  }
  .post-box{
    padding: 10px;
  }
  .header-title{
    font-size: 1.4rem;
  }
  .header-img{
    height: 240px;
  }.post-header{
    height: 335px;
  }
  .header-img{
    height: 340px;
  }
}
@media(max-width:991;){
  footer{
    padding: 40px;
    font-size: 20px
  }
  footer .footer-container{
    flex-direction: column;
  }
  footer .footer-container .sec{
    margin-right: 0;
    margin-bottom: 40px;
  }
  footer .footer-container .sec .aboutus{
    width: 100% !important;
  }
  footer .footer-container .quicklinks{
    width: 100%;
  }
  footer .footer-container .contactBx{
    width: 100%;
  }
}